html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Roboto Slab";
  font-size: 22px;
  margin: 0;
  width: auto;
  display: flex;
  flex-direction: column;
}

header {
  background-color: orange;
  color: white;
}

.site_title, nav {
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  flex-direction: raw;
  margin: 0 4px;
  flex-wrap: wrap;
  padding: 0;
}
ul li {
  list-style-type: none;
  margin: 0 3px;
}

main {
  flex-grow: 1;
}

.ring {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-style: solid;
  border-color: red;
  border-width: 5px;
  background: transparent;
  box-shadow: inset 3.3333333333px 3.3333333333px 3px #ff6666, 3.3333333333px 3.3333333333px 3px #ff6666;
}

footer {
  flex-shrink: 0;
  background-color: orange;
  color: white;
  display: flex;
  flex-wrap: wrap;
}