@mixin ring ($size, $color) {
        height: $size;
        width: $size;
        border-radius: 50%;
        border-style: solid;
        border-color: $color;
        border-width: $size/8;
        background: transparent;
        box-shadow: inset $size/12 $size/12 3px lighten( $color, 20%),
                    $size/12 $size/12 3px lighten( $color, 20%);
    } 
    
$headAndFootColor: orange;
$headAndFootTextColor: white;

html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Roboto Slab';
    font-size: 22px;
    margin: 0;
    width: auto;
    display: flex;
    flex-direction: column;
}

header {
    background-color: $headAndFootColor;
    color: $headAndFootTextColor;
}

.site_title {
    display: flex;
    flex-direction: raw;
    justify-content: space-between;
    align-items: center;
}

nav {
    @extend .site_title;
}

a {
  text-decoration: none; 
  color: white;
}

ul {
    display: flex;
    flex-direction: raw;
    margin: 0 4px;
    flex-wrap: wrap;
    padding: 0;
    li {
        list-style-type: none;
        margin: 0 3px;
    }
}

main {
    flex-grow: 1;
}
    
.ring {
    @include ring(40px, red);
}

footer {
    flex-shrink: 0;
    background-color: $headAndFootColor;
    color: $headAndFootTextColor;
    display: flex;
    flex-wrap: wrap;
}